<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.hrcomply.co.uk/" target="_blank">HRComply Demo</a>
    </div>
  </div>
</nav>
